# init.oplus.lemonkebab.rc - add init modifications here

on init
    mkdir /dev/cpuset/audio-app
    copy /dev/cpuset/cpus /dev/cpuset/audio-app/cpus
    copy /dev/cpuset/mems /dev/cpuset/audio-app/mems

    chown system system /dev/cpuset/audio-app
    chown system system /dev/cpuset/audio-app/tasks
    chmod 0664 /dev/cpuset/audio-app/tasks
    
    mkdir /dev/cpuset/display
    copy /dev/cpuset/cpus /dev/cpuset/display/cpus
    copy /dev/cpuset/mems /dev/cpuset/display/mems
    
    chown system system /dev/cpuset/display
    chown system system /dev/cpuset/display/tasks
    chmod 0664 /dev/cpuset/display/tasks

    chown system system /dev/cpuset/display/cgroup.procs
    chown system system /dev/cpuset/audio-app/cgroup.procs
    
    # Boot time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/nr_requests 256
    write /dev/sys/fs/by-name/userdata/data_io_flag 56
    write /dev/sys/fs/by-name/userdata/node_io_flag 56
    
    # Disable UFS powersaving
    write /dev/sys/block/bootdevice/clkgate_enable 0
    
    write /proc/sys/vm/page-cluster 0
    
on property:sys.boot_completed=1

    chown system system /sys/module/msm_drm/parameters/kcal_blue
    chown system system /sys/module/msm_drm/parameters/kcal_green
    chown system system /sys/module/msm_drm/parameters/kcal_red
    chown system system /sys/module/msm_drm/parameters/kcal_cont
    chown system system /sys/module/msm_drm/parameters/kcal_hue
    chown system system /sys/module/msm_drm/parameters/kcal_sat
    chown system system /sys/module/msm_drm/parameters/kcal_val
    chmod 0660 /sys/module/msm_drm/parameters/kcal_blue
    chmod 0660 /sys/module/msm_drm/parameters/kcal_green
    chmod 0660 /sys/module/msm_drm/parameters/kcal_red
    chmod 0660 /sys/module/msm_drm/parameters/kcal_cont
    chmod 0660 /sys/module/msm_drm/parameters/kcal_hue
    chmod 0660 /sys/module/msm_drm/parameters/kcal_sat 
    chmod 0660 /sys/module/msm_drm/parameters/kcal_val
    
    # Setup runtime blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Runtime fs tuning
    write /sys/block/sda/queue/nr_requests 64
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8

    write /proc/sys/vm/swappiness 100

    # Enable UFS powersaving
    write /dev/sys/block/bootdevice/clkgate_enable 1
    
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480




    

